.todo-items {

}

::deep .add-button {
    margin-top: 15px;
}

::deep .todo-items-paper {
    padding: 10px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 500px;
}

::deep .todo-items-icons {
    margin-left: auto;
}