@page "/todo"

<h3>Todo (@CountOfTodoItems)</h3>

<ul>
    @foreach (var todo in Todos)
    {
        <li>
            <input type="checkbox" @bind="todo.Done"/>
            <input @bind="todo.Title"/>
        </li>
    }
</ul>

<input placeholder="Something todo" @bind="NewTodo"/>
<MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="AddTodo">Add todo</MudButton >
