.todolist  {
    
}

::deep .add-list-button{
    margin-top: 15px;
}

::deep .hide-input input{
    visibility:hidden;
}

::deep .todolist-paper {    
    padding: 10px;
    display: flex;    
    align-items: center;
    margin-top: 10px;
    width: 500px;
}

::deep .todolist-icons {
    margin-left: auto;
}