.todo-lists {

}

::deep .add-button {
    margin-top: 15px;
}

::deep .hide-input input {
    visibility: hidden;
}

::deep .todo-lists-paper {
    padding: 10px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 500px;
}

::deep .todo-lists-icons {
    margin-left: auto;
}